
<div class="container">
    <br><br><br><br><br>
    <h2 class="title"><span style="color:#25898b;">Discover your sound.</span></br>Rent musical instruments, equipment, and gears.</h2>


    <section class="search-form">
      <%= simple_form_for :search, url: instruments_path, method: "get", html: { class: 'form-inline' } do |f| %>
        <%= f.input :start_date, label: false, placeholder: 'Start Date', :as => :datetime_picker %>
        <%= f.input :end_date, label: false, placeholder: 'End Date', :as => :date_picker %>
        <%= f.input :name, input_html: { class: 'search-input' }, label: false, placeholder: "What instrument are you looking for?" %>
        <%= f.submit class: 'search-btn' %>
      <% end %>
    </section>
    <br><br>

    <section class="gallery">
      <div class="row">
        <% @instruments.each do |instrument| %>
          <div class="col-xs-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path instrument.photo.path %>);">
              <%= link_to instrument_path(instrument), class: 'card-link' do %><% end %>
              <div class="card-category"><%= instrument.name %></div>
              <div class="card-description">
                <p> <%= "$ #{instrument.price}" %> </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <% if @message %>
        <br>
        <br>
        <br>
        <p> <%= @message %> </p>
      <% end %>

    </section>
</div>






